# Security
.env
.env.local

# Virtual Environment
.venv/
venv/
env/

# Python Cache & compiled files
__pycache__/
*.py[cod]
*$py.class
.cache.sqlite

# Local Caches
.cache/
.pytest_cache/
.mypy_cache/

# IDE Settings
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db